
.app {
  background-color: #dadbd3;
  display: grid;
  height: 100vh;
  place-items: center;

}

.app__body {
  display: flex;
  background-color: white;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,.75);
  height: 90vh;
  width: 90vw;
  margin-top: -50px;
  /* flex-wrap: wrap; */

}