.chat {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.chat__top {
    padding: 11px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #EDEDED;
    border: 0.3px solid #DADADA;

}

.chat__top__left {
    padding-top: 5px;
    display: flex;
    align-items: center;
    /* flex: 2; */
}



.chat__top__right {

    /* padding: .4rem; */
    display: flex;
    justify-content: space-around;
    /* flex: 2; */

}


.chat__contact {
    display: flex;
    flex: 1;
    padding-right: 15px;
    flex-direction: column;

}

.chat__contact__name {

    font-weight: 360;
    margin: 0;

}

.chat__contact__lastseen {

    color: gray;
    font-weight: 350;
    font-size: 0.85rem;
    margin: 0;


}

.chat__contact__icon {


    padding-right: 13px;

}


.chat__center {
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    overflow-y: scroll;
    padding: 30px;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat__center>.chat__message {

    line-height: 0;
    padding: 8px;
    width: fit-content;
    border-radius: 1rem;
    margin-top: 30px;
    position: relative;

}

.chat__center>.chat__message>.sender__name {
    color: violet;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0 20px;

}


.chat__center>.chat__message > .message > .chat__timestamp {

    font-size: 0.7rem;
    color: #454842;

}

.chat__center > .received__message {
    background-color: white;

}

.chat__center > .sent__message {
    background-color: #DCF8C6;
    color: #454842;
    margin-right: 8%;
    float: right;
    margin-left: auto;


}



.chat__bottom {
    background-color: #F0F0F0;
    height: 2rem;
    padding: 15px;
    display: flex;
    align-items: center;
    
}

.chat__bottom > .new__message__input {

    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    flex: 1;
    height: 1.5rem;


}

.chat__bottom > .new__message__input input {
    border:0;
    outline-width: 0;
    color: #4F4F4F;
    flex: 1;
   
 
    
   } 


